{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Configurações</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>


       

          

            <div class="container m-auto"> 

                <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a  href="{% url 'index' %}"> Ir para home</a> <span>/</span> Configurações da conta de <b>{{user.first_name}} <span></span> {{user.last_name}}</b> </h1>
                <ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
                    <li class="uk-active"><a href="#">Geral</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">Notificações</a></li>
                    <li><a href="#">Links de redes sociais</a></li>
                    <li><a href="#">Segurança</a></li>
                </ul>

                <div class="grid lg:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 class="text-xl mb-2"> Básico</h3>
                        <p></p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2">

                        <form action="" method="POST" enctype="multipart/form-data">

                            {% csrf_token %}

                            <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                                <div class="col-span-2">
                                    <label for=""> Foto de perfil </label>
                                    <img width="150" height="150" src="{{user_profile.profileimg.url}}">
                                    <input type="file" style="background-color: rgb(255, 255, 255); margin-top: 1.1rem;" name="profile_image" value="" class="shadow-none bg-gray-100">
                                </div>
                               <div>
                                   <label for=""> Primeiro nome</label>
                                   <input type="text" name="first_name" value="{{user.first_name}}" class="shadow-none bg-gray-100">
                               </div>
                               <div>
                                   <label for=""> Último nome</label>
                                   <input type="text" name="last_name" value="{{user.last_name}}" class="shadow-none bg-gray-100">
                                </div>
                                <div class="col-span-2">
                                    <label for="">Nome de usuário</label>
                                    <input type="text" value="{{user.username}}" name="username" readonly class="shadow-none bg-gray-100">
                                </div>
                                <div class="col-span-2">
                                    <label for=""> E-mail</label>
                                    <input type="email" value="{{user.email}}" name="email" readonly class="shadow-none bg-gray-100">
                                </div>
                                <div class="col-span-2">
                                    <label for="about">Sobre mim</label>  
                                    <textarea id="about" name="bio" rows="3" style="padding: 5px 20px;" class="shadow-none bg-gray-100">{{user_profile.bio}}</textarea>
                                </div> 
                                <div class="col-span-2">
                                    <label for="">Localização</label>
                                    <input type="text" name="location" value="{{user_profile.location}}" placeholder="" class="shadow-none bg-gray-100">
                                </div>
                                <!-- <div>
                                   <label for=""> Trabalho</label>
                                   <input type="text" placeholder="" class="shadow-none bg-gray-100">
                                </div> 
                                <div>
                                   <label for=""> Relacionamento </label>
                                   <select id="relationship" name="relationship"  class="shadow-none bg-gray-100">
                                    <option value="0">Nenhum</option>
                                    <option value="1">Solteiro</option>
                                    <option value="2">Em um relacionamento</option>
                                    <option value="3">Casado</option>
                                    <option value="4">Divorciado</option>
                                  </select>
                                </div>
                           </div>  -->
        
                           <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                               <button class="p-2 px-4 rounded bg-gray-50 text-red-500"><a href="/">Cancelar</a></button>
                               <button type="submit" class="button bg-blue-700"> Salvar </button>
                           </div>
        
                        </div>
                        </form>
    
                        <!-- <div>
                            <h3 class="text-xl mb-2"> Privacidade</h3>
                            <p> </p>
                        </div>
                        <div class="bg-white rounded-md lg:shadow-lg shadow lg:p-6 p-4 col-span-2"> -->
    
                        <!-- <div class="space-y-3">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h4> Quem pode me seguir?</h4>
                                    <div>  </div>
                                </div>
                                <div class="switches-list -mt-8 is-large">
                                    <div class="switch-container">
                                        <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="flex justify-between items-center">
                                <div>
                                    <h4> Mostrar minhas atividades?</h4>
                                    <div>  </div>
                                </div>
                                <div class="switches-list -mt-8 is-large">
                                    <div class="switch-container">
                                        <label class="switch"><input type="checkbox" checked><span class="switch-button"></span> </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="flex justify-between items-center">
                                <div>
                                    <h4> Entrar na busca das pessoas?</h4>
                                    <div>  </div>
                                </div>
                                <div class="switches-list -mt-8 is-large">
                                    <div class="switch-container">
                                        <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="flex justify-between items-center">
                                <div>
                                    <h4> Permitir comentários?</h4>
                                    <div>  </div>
                                </div>
                                <div class="switches-list -mt-8 is-large">
                                    <div class="switch-container">
                                        <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
    
                       
    
                    </div>
                    <br>

                </div>

            </div>
            
        </div>

    </div>


    

 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>